In [1]:
import pandas as pd

---
### Downloaded Sample from eBird to see what the file looked like

In [7]:
file_path1 = '../data/eBird_Sample/ebd_US-AL-101_201801_201801_relMay-2018.txt'

df1 = pd.read_csv(file_path1, sep='\t')

df1.columns

Index(['GLOBAL UNIQUE IDENTIFIER', 'LAST EDITED DATE', 'TAXONOMIC ORDER',
       'CATEGORY', 'COMMON NAME', 'SCIENTIFIC NAME', 'SUBSPECIES COMMON NAME',
       'SUBSPECIES SCIENTIFIC NAME', 'OBSERVATION COUNT',
       'BREEDING BIRD ATLAS CODE', 'BREEDING BIRD ATLAS CATEGORY', 'AGE/SEX',
       'COUNTRY', 'COUNTRY CODE', 'STATE', 'STATE CODE', 'COUNTY',
       'COUNTY CODE', 'IBA CODE', 'BCR CODE', 'USFWS CODE', 'ATLAS BLOCK',
       'LOCALITY', 'LOCALITY ID', 'LOCALITY TYPE', 'LATITUDE', 'LONGITUDE',
       'OBSERVATION DATE', 'TIME OBSERVATIONS STARTED', 'OBSERVER ID',
       'SAMPLING EVENT IDENTIFIER', 'PROTOCOL TYPE', 'PROTOCOL CODE',
       'PROJECT CODE', 'DURATION MINUTES', 'EFFORT DISTANCE KM',
       'EFFORT AREA HA', 'NUMBER OBSERVERS', 'ALL SPECIES REPORTED',
       'GROUP IDENTIFIER', 'HAS MEDIA', 'APPROVED', 'REVIEWED', 'REASON',
       'TRIP COMMENTS', 'SPECIES COMMENTS', 'Unnamed: 46'],
      dtype='object')

In [6]:
# What's in column 46? Nothing.

df['Unnamed: 46'].unique()

array([nan])

---
### New dataset, American Crow in TN from May 2010 to May 2020

In [19]:
file_path2 = '../data/tn_crow_2010/ebd_US-TN_amecro_201005_202005_relApr-2020.txt'

df2 = pd.read_csv(file_path2, sep = '\t')

df2.columns

C:\Users\georg\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['GLOBAL UNIQUE IDENTIFIER', 'LAST EDITED DATE', 'TAXONOMIC ORDER',
       'CATEGORY', 'COMMON NAME', 'SCIENTIFIC NAME', 'SUBSPECIES COMMON NAME',
       'SUBSPECIES SCIENTIFIC NAME', 'OBSERVATION COUNT',
       'BREEDING BIRD ATLAS CODE', 'BREEDING BIRD ATLAS CATEGORY', 'AGE/SEX',
       'COUNTRY', 'COUNTRY CODE', 'STATE', 'STATE CODE', 'COUNTY',
       'COUNTY CODE', 'IBA CODE', 'BCR CODE', 'USFWS CODE', 'ATLAS BLOCK',
       'LOCALITY', 'LOCALITY ID', 'LOCALITY TYPE', 'LATITUDE', 'LONGITUDE',
       'OBSERVATION DATE', 'TIME OBSERVATIONS STARTED', 'OBSERVER ID',
       'SAMPLING EVENT IDENTIFIER', 'PROTOCOL TYPE', 'PROTOCOL CODE',
       'PROJECT CODE', 'DURATION MINUTES', 'EFFORT DISTANCE KM',
       'EFFORT AREA HA', 'NUMBER OBSERVERS', 'ALL SPECIES REPORTED',
       'GROUP IDENTIFIER', 'HAS MEDIA', 'APPROVED', 'REVIEWED', 'REASON',
       'TRIP COMMENTS', 'SPECIES COMMENTS', 'Unnamed: 46'],
      dtype='object')

In [20]:
# Narrowing to columns of interest

columns_of_interest = ['COMMON NAME', 
                       'SCIENTIFIC NAME',
                       'OBSERVATION COUNT',
                       'LATITUDE',
                       'LONGITUDE',
                       'OBSERVATION DATE']

df2 = pd.read_csv(file_path2, sep = '\t', usecols = columns_of_interest)

df2.head()

,COMMON NAME,SCIENTIFIC NAME,OBSERVATION COUNT,LATITUDE,LONGITUDE,OBSERVATION DATE
0,American Crow,Corvus brachyrhynchos,4,36.216370,-84.287970,2010-06-07
1,American Crow,Corvus brachyrhynchos,2,35.168544,-89.062780,2010-06-06
2,American Crow,Corvus brachyrhynchos,1,36.160330,-82.396431,2010-08-15
3,American Crow,Corvus brachyrhynchos,1,35.640418,-83.689728,2010-08-11
4,American Crow,Corvus brachyrhynchos,X,35.631349,-83.445711,2010-06-21

In [29]:
# What percentage of rows would I lose if I drop the 'X' from Observation Count?

len(df2[df2['OBSERVATION COUNT'] == 'X'].index)/len(df2)*100

2.322034789620376

In [8]:
# Removing 'X' in observation count so that observation count can be converted to int for mathematical operations

df2 = df2.loc[df2['OBSERVATION COUNT'] != 'X']

In [9]:
df2.to_csv('../data/tn_crow_2010/parsed_data.csv')

In [18]:
# Double checking a value in PowerBI. Looks good.

df2.loc[(df2['OBSERVATION DATE'] >= '2019-11-01') &  (df2['OBSERVATION DATE'] <= '2019-11-30')]['OBSERVATION COUNT'].astype(int).sum()

21476

#### Quick analysis in PowerBI shows that mapping sightings over time using dates, observation count sums, and lat/lng is possible. Using line graphs of months, labels years, values sum of observation counts show that as years increase the number of sightings increases (more birders/birder efforts?). Downloading a new dataset of all TN sightings to get relative frequency of species.

---
### Downloaded a new dataset from eBird. All birds in TN from Jan 2010 to Jan 2020

In [30]:
file_path3 = '../data/tn_all_2010/ebd_US-TN_201001_202001_relApr-2020.txt'

columns_of_interest = ['COMMON NAME', 
                       'SCIENTIFIC NAME',
                       'OBSERVATION COUNT',
                       'LATITUDE',
                       'LONGITUDE',
                       'OBSERVATION DATE']

df3 = pd.read_csv(file_path3, sep = '\t', usecols = columns_of_interest)

df3.head()

,COMMON NAME,SCIENTIFIC NAME,OBSERVATION COUNT,LATITUDE,LONGITUDE,OBSERVATION DATE
0,woodpecker sp.,Picidae sp.,1,36.133473,-82.275538,2010-10-09
1,Red-eyed Vireo,Vireo olivaceus,1,35.309137,-84.039316,2010-09-02
2,Vesper Sparrow,Pooecetes gramineus,1,35.762811,-85.666409,2010-01-17
3,Worm-eating Warbler,Helmitheros vermivorum,3,36.273015,-86.905004,2010-05-24
4,Tree Swallow,Tachycineta bicolor,4,36.175372,-86.708865,2010-04-04

In [32]:
# Percentage of 'X' observations?

len(df3[df3['OBSERVATION COUNT'] == 'X'].index)/len(df3)*100

2.3278197032229992

In [33]:
# Removing 'X' in observation count and converting observation count to int for mathematical operations

df3 = df3.loc[df3['OBSERVATION COUNT'] != 'X']

df3['OBSERVATION COUNT'] = df3['OBSERVATION COUNT'].astype(int)

In [35]:
len(df3['COMMON NAME'].unique())

534

In [39]:
june_2010 = df3.loc[(df3['OBSERVATION DATE'] >= '2010-06-01') & (df3['OBSERVATION DATE'] <= '2010-06-30')]

crow_count = june_2010.loc[june_2010['COMMON NAME'] == 'American Crow']['OBSERVATION COUNT'].sum()

all_count = june_2010['OBSERVATION COUNT'].sum()

crow_count/all_count*100

2.8624656982452605

In [80]:
def get_crow_pct(date1, date2):
    """Takes 2 dates finds the percentage of crows in TN between those dates"""
    date_frame = df3.loc[(df3['OBSERVATION DATE'] >= date1) & (df3['OBSERVATION DATE'] < date2)]
    
    crow_count = date_frame.loc[date_frame['COMMON NAME'] == 'American Crow']['OBSERVATION COUNT'].sum()
    
    all_count = date_frame['OBSERVATION COUNT'].sum()
    
    crow_pct = round(crow_count/all_count*100, 2)
    
    return crow_pct

In [81]:
get_crow_pct('2010-06-01', '2010-07-01')

2.86

In [51]:
get_crow_pct('2019-07-01', '2019-08-01')

1.71

In [54]:
dates = pd.date_range('2010-01-01','2020-03-01' , freq='1M')-pd.offsets.MonthBegin(1)

dates

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
               '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
               '2010-09-01', '2010-10-01',
               ...
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01'],
              dtype='datetime64[ns]', length=122, freq='M')

In [83]:
crow_list = []

for i in range(len(dates)):
    if i+1 == len(dates):
        break
    else:
    
        get_crow_pct(dates[i].date().strftime('%Y-%m-%d'), dates[i+1].date().strftime('%Y-%m-%d'))
    
        print(dates[i].date().strftime('%Y-%m-%d'), dates[i+1].date().strftime('%Y-%m-%d'), crow_pct )

NameError: name 'crow_pct' is not defined